@media (max-width: 575px){

}

@media (min-width: 576px) and (max-width: 767px) {
    .titulo {
        font: normal normal 600 30px/24px Open Sans;
        margin-left: 2%;
    }

    .subtitulo {
        font: italic normal normal 16px/14px Open Sans;
        margin-left: 2%;
    }

    .botao_voltar {
        width: 8%;
        background: url('/static/imagens/arrow-left.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-left: 2%;
    }

    .botao_filtro {
        width: 10%;
        background: url('/static/imagens/filtro.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-top: 1%;
    }

    .area_principal {
        background-color: #EFEFEF;
        margin-top: 10px;
    }

    .texto_filtro {
        margin-right: 1%;
        padding-left: 82%;
        margin-top: 1%;
    }

    .caixa {
        border: 1px solid black;
        margin-top: 4%;
        width: 150px;
    }

    .selecao_de_filtros {
        width: 15%;
        margin-left: 43%;
        margin-top: 5%;
    }

    .nome_setor {
        color: white;
        background-color: #2264EE;
        padding: 2%;
        margin: 1%;
    }

    .barra_lateral {
        width: 20%;
        background: #141533 0% 0% no-repeat padding-box;
        border-radius: 0px 62px 0px 0px;
        color: white;
        flex: auto;
    }

    .nav-link {
        color: white;
        text-align: left;
        font: normal normal 300 24px/28px Open Sans;
        letter-spacing: 0px;
        margin-left: 20%;
        margin-top: 5%
    }

    .area_de_setores {
        overflow: auto;
        max-height: 520px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .titulo {
        font: normal normal 600 36px/28px Open Sans;
        margin-left: 2%;
    }

    .subtitulo {
        font: italic normal normal 16px/14px Open Sans;
        margin-left: 2%;
    }

    .botao_voltar {
        width: 8%;
        background: url('/static/imagens/arrow-left.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-left: 2%;
    }

    .botao_filtro {
        width: 10%;
        background: url('/static/imagens/filtro.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-top: 1%;
    }

    .area_principal {
        background-color: #EFEFEF;
        margin-right: 2%;
        margin-top: 10px;
    }

    .texto_filtro {
        margin-right: 1%;
        padding-left: 82%;
        margin-top: 1%;
    }

    .caixa {
        border: 1px solid black;
        margin-top: 4%;
        width: 160px;
    }

    .selecao_de_filtros {
        width: 15%;
        margin-left: 43%;
        margin-top: 5%;
    }

    .nome_setor {
        color: white;
        background-color: #2264EE;
        padding: 2%;
        margin: 1%;
        width: 80%;
    }

    .barra_lateral {
        width: 20%;
        background: #141533 0% 0% no-repeat padding-box;
        border-radius: 0px 62px 0px 0px;
        color: white;
        flex: auto;
    }

    .nav-link {
        color: white;
        text-align: left;
        font: normal normal 300 24px/28px Open Sans;
        letter-spacing: 0px;
        margin-left: 20%;
        margin-top: 5%
    }

    .area_de_setores {
        overflow: auto;
        max-height: 520px;
    }
}

@media (min-width: 992px){
    .titulo {
        font: normal normal 600 36px/28px Open Sans;
        margin-left: 2%;
    }

    .subtitulo {
        font: italic normal normal 20px/28px Open Sans;
        margin-left: 2%;
    }

    .botao_voltar {
        width: 3%;
        background: url('/static/imagens/arrow-left.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-left: 2%;
    }

    .botao_filtro {
        width: 5%;
        background: url('/static/imagens/filtro.svg') 0% 0% no-repeat padding-box;
        border: 0;
        margin-top: 1%;
    }

    .area_principal {
        background-color: #EFEFEF;
        margin-left:10px;
        width: 100%:
    }

    .texto_filtro {
        margin-right: 1%;
        padding-left: 87%;
        margin-top: 1%;
    }

    .caixa {
        border: 1px solid black;
        margin-top: 2%;
    }

    .selecao_de_filtros {
        width: 15%;
        margin-left: 43%;
        margin-top: 5%;
    }

    .nome_setor {
        color: white;
        background-color: #2264EE;
        padding: 2%;
        margin: 1%;
        width: 50%;
    }

    .barra_lateral {
        flex-direction: column;
        width: 15%;
        background: #141533 0% 0% no-repeat padding-box;
        border-radius: 0px 62px 0px 0px;
        color: white;
    }

    .nav-link {
        color: white;
        text-align: left;
        font: normal normal 300 24px/28px Open Sans;
        letter-spacing: 0px;
        margin-left: 5%;
        margin-top: 5%
    }

    .area_de_setores {
        overflow: auto;
        max-height: 650px;
    }
}
